<div class="container">
  <div class="row">
    <h1>修改主題</h1>
  </div>
  <div class="row">
    <%= form_for @post, :url => post_path, :method => :patch do |p| %>

      <%= render :partial => "form", :locals => { :post => p } %>

      <%= p.submit "Submit", :class => "btn btn-primary" %>
      <%= link_to "Cancel", posts_path, :method => :get, :class => "btn btn-danger" %>
    <% end %>
  </div>
</div>