<div class="container">
  <div class="row">
    <h1>鍵盤救災</h1>
    <h4>用愛發電 用鍵盤救災</h4>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id.</th>
          <th>標題</th>
          <th>分類</th>
          <th>內容</th>
          <th>張貼時間</th>
          <th>show</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


