<div class="container">
  <div class="row">
    <h1>加入新主題</h1>
  </div>
  <div class="row">
    <%= form_for @post, :url => posts_path, :method => :post do |post| %>

      <%= render :partial => "form", :locals => { :post => post } %>

      <%= post.submit "Submit", :class => "btn btn-primary" %>
      <%= link_to "Cancel", posts_path, :method => :get, :class => "btn btn-danger" %>
    <% end %>
  </div>
</div>
